.get-products-button {
  background-color: #b5b1b9;
  border: 2px solid #b5b1b9;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin: 30px auto;
  padding: 12px 24px;
  transition: background-color 0.3s, border-color 0.3s;
}

.get-products-button:hover {
  background-color: #a1cdf4;
}

.product-card {
  background-color: #a1cdf4;
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s;
  width: 255px;
}

.product-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.product-card p {
  font-size: 16px;
  margin: 8px 0;
}

.product-card p:first-child {
  color: #333333;
  font-weight: bold;
}

.product-card:nth-child(even) {
  background-color: #a1cdf4;
}

.product-card:nth-child(odd) {
  background-color: #a1cdf4;
}
