   <div class="search-container">
  <form (submit)="searchProducts()">
    <input type="text" (input)="searchProducts()" placeholder="Search for products..." [(ngModel)]="searchQuery" name="pname">
    <button type="submit">Search</button>
  </form>
  <ul class="product-list">
    <li *ngFor="let product of searchResults">
      <div class="product-details">
        <p><span>Name: </span>{{ product.productName }}</p>
        <p><span>Quantity: </span>{{ product.quantity }}</p>
      </div>
      <button (click)="addToCart(product)">Add to Cart</button>
    </li>
  </ul>
</div>








