.search-container {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.search-container form {
  display: grid;
  grid-template-columns: 1fr auto; /* Adjusted grid-template-columns */
  gap: 20px; /* Reduced the gap */
  padding: 20px; /* Increased padding for better spacing */
  border: 2px solid #A1CDF4;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #A1CDF4;
}

.search-container input[type="text"] {
  padding: 10px;
  border: none;
  font-size: 16px;
  width: 100%; /* Changed width to 100% for responsiveness */
}

.search-container button {
  padding: 10px 20px;
  background-color: #B5B1B9;
  color: #ffffff;
  border: 2px solid #B5B1B9;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s;
}

.search-container button:hover {
  background-color: #A1CDF4;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centered content */
  padding: 20px; /* Adjusted padding */
  margin-top: 20px;
}
.product-list li {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content horizontally */
  justify-content: center; /* Center align content vertically */
  padding: 30px;
  border-radius: 50px;
  background-color: #A1CDF4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s;
  text-align: center; /* Center align text */
  margin: 10px; /* Added margin for spacing between items */
}

.product-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.product-list li:last-child {
  margin-bottom: 0;
}

.product-list li button {
  margin-top: 30px;
}
